In [2]:
import pandas as pd

In [3]:
colores = pd.Series(['rojo','azul','amarillo','verde','morado'])

In [ ]:
materias = pd.Series({'Matemáticas': 60, 'Fisica': 100, 'Quimica': 78})
print(materias)

In [9]:
numeros = pd.Series([1,2,3,4,5,6,7,8,9])
numeros.size
numeros.index
numeros.dtype

dtype('int64')

In [10]:
colores[1:5]

1        azul
2    amarillo
3       verde
4      morado
dtype: object

In [14]:
materias[['Fisica', 'Quimica']]

Fisica     100
Quimica     78
dtype: int64

In [20]:
numeros * 2
2+2

4

# Funciones:

In [30]:
numeros.sum()
numeros.max()
numeros.min()
numeros.std()

2.7386127875258306

In [31]:
numeros.describe()

count    9.000000
mean     5.000000
std      2.738613
min      1.000000
25%      3.000000
50%      5.000000
75%      7.000000
max      9.000000
dtype: float64

In [34]:
serie = pd.Series({'Matemáticas':8,'Economía':6,'Programación':10,'Física':5})
print(serie[serie > 6])

Matemáticas      8
Programación    10
dtype: int64

In [38]:
print(serie.sort_values(ascending=False))

Programación    10
Matemáticas      8
Economía         6
Física           5
dtype: int64

In [37]:
print(serie.sort_index(ascending=False))

Programación    10
Matemáticas      8
Física           5
Economía         6
dtype: int64

In [39]:
# Crear una serie a partir de un valor escalar

data = 5

In [41]:
serie = pd.Series(data, index=[0,1,2,3,4,5])
print(serie)

0    5
1    5
2    5
3    5
4    5
5    5
dtype: int64

In [46]:
data_list = ['Messi','Crisiano Ronaldo', 'Benzema']
indices = ['PSG','Manchesteer Utd', 'Real Madrid']
futbol = pd.Series(index = indices, data= data_list)
print(futbol)

count         3
unique        3
top       Messi
freq          1
dtype: object